In [1]:
import pandas as pd
import numpy as np

np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan

In [2]:
df.style

In [3]:
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

In [4]:
s = df.style.applymap(color_negative_red)
s

In [5]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [6]:
df.style.apply(highlight_max)

In [7]:
df.style.\
    applymap(color_negative_red).\
    apply(highlight_max)

In [8]:
def highlight_max(data, color='yellow'):
    '''
    highlight the maximum in a Series or DataFrame
    '''
    attr = 'background-color: {}'.format(color)
    if data.ndim == 1:  # Series from .apply(axis=0) or axis=1
        is_max = data == data.max()
        return [attr if v else '' for v in is_max]
    else:  # from .apply(axis=None)
        is_max = data == data.max().max()
        return pd.DataFrame(np.where(is_max, attr, ''),
                            index=data.index, columns=data.columns)

In [11]:
df.style.apply(highlight_max, color='darkorange', axis=1) # can use 0 or 1 or None

In [12]:
df.style.apply(highlight_max, subset=['B', 'C', 'D'])

In [13]:
df.style.applymap(color_negative_red,
                  subset=pd.IndexSlice[2:5, ['B', 'D']])

In [15]:
df.style.format("{:.2%}", subset=['D'])

In [16]:
df.style.format({'B': "{:0<4.0f}", 'D': '{:+.2f}'})

In [17]:
df.style.format({"B": lambda x: "±{:.2f}".format(abs(x))})

In [18]:
df.style.highlight_null(null_color='red')

In [20]:
import seaborn as sns

cm = sns.light_palette("green", as_cmap=True)

s = df.style.background_gradient(cmap=cm, axis=0, sub)
s

/home/ithilien/anaconda3/envs/cuda-shop/lib/python3.6/site-packages/matplotlib/colors.py:494: RuntimeWarning: invalid value encountered in less
  cbook._putmask(xa, xa < 0.0, -1)